set NERDTree
set easymotion
set multiple-cursors
set surround
set ReplaceWithRegister
set argtextobj
set functiontextobj
set textobj-indent
set highlightedyank
set commentary
set vim-paragraph-motion
set exchange
set switch

" Give Vim the shortcut priority instead of IntelliJ
sethandler n:vim

" Except for
sethandler <C-v> i:ide
sethandler <C-f> a:ide

" Set leader key to space
let mapleader = " "

" Cursor in the middle of the screen
set scrolloff=999

" Set relative line number
set relativenumber

" Do incremental searching
set incsearch

" Use the OS clipboard
set clipboard=unnamed,unnamedplus

" Append IntelliJ clipboard
set clipboard+=ideaput

" Enable IntelliJ smart join
set ideajoin

" Ignore case of searches
set ignorecase

" When searching try to be smart about cases
set smartcase

" Remove the delay to switch to visual mode using the mouse
set visualdelay=0

" Extended matching for the % operator
set matchit

" Disable beeping on error
set visualbell on

" EasyMotion search key to s
map s <Plug>(easymotion-s)

" Make the home key go to the first non-whitespace on the line
map <Home> ^

" Command as ctrl on Macos
nnoremap <D-o> <C-o>
nnoremap <D-i> <C-i>
nnoremap <D-r> <C-r>
nnoremap <D-v> <C-v>

" Multiple cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence
nmap <leader><C-n> <Plug>AllWholeOccurrences
xmap <leader><C-n> <Plug>AllWholeOccurrences
nmap <leader>g<C-n> <Plug>AllOccurrences
xmap <leader>g<C-n> <Plug>AllOccurrences

" Macos Multiple cursors
nmap <D-n> <Plug>NextWholeOccurrence
xmap <D-n> <Plug>NextWholeOccurrence
nmap g<D-n> <Plug>NextOccurrence
xmap g<D-n> <Plug>NextOccurrence
xmap <D-x> <Plug>SkipOccurrence
xmap <D-p> <Plug>RemoveOccurrence
nmap <leader><D-n> <Plug>AllWholeOccurrences
xmap <leader><D-n> <Plug>AllWholeOccurrences
nmap <leader>g<D-n> <Plug>AllOccurrences
xmap <leader>g<D-n> <Plug>AllOccurrences

" Vim Switch
let g:switch_definitions = 'group:basic,group:java,group:javascript,group:markdown'
nnoremap + :Switch<CR>
nnoremap - :SwitchReverse<CR>

" Insert blank line
nnoremap <Leader>o o<Esc>
nnoremap <Leader>O O<Esc>

" Y to yank the end of the line
nnoremap Y y$

" Cancel leader key sequence with <Esc> without jumping to a new line
nnoremap <Leader><Esc> :<C-u><CR>

nmap <Leader>: <Action>(RunAnything)

" File / Find
nmap <Leader>ff <Action>(GotoFile)
vmap <Leader>ff <Action>(GotoFile)

nmap <Leader>fc <Action>(GotoClass)
vmap <Leader>fc <Action>(GotoClass)

nmap <Leader>fr <Action>(RecentFiles)
nmap <Leader>fe <Action>(RecentChangedFiles)

nmap <Leader>fa <Action>(GotoAction)

" Git
nmap <Leader>gf <Action>(Git.Fetch)
nmap <Leader>gb <Action>(Git.Branches)
nmap <Leader>gn <Action>(Git.CreateNewBranch)
nmap <Leader>gu <Action>(Vcs.UpdateProject)
nmap <Leader>ga <Action>(Annotate)
nmap <Leader>gA <Action>(Vcs.ToggleAmendCommitMode)
nmap <Leader>gc <Action>(Git.Commit.And.Push.Executor)
nmap <Leader>gp <Action>(Vcs.Push)
nmap <Leader>gF <Action>(Vcs.Push.Force)
nmap <Leader>gl <Action>(Vcs.Show.Log)
nmap <Leader>gd <Action>(Vcs.ShowDiffChangedLines)
nmap <Leader>gh <Action>(Vcs.ShowTabbedFileHistory)
nmap <Leader>go <Action>(Vcs.Show.Local.Changes)
nmap <Leader>gr <Action>(Vcs.RollbackChangedLines)
vmap <Leader>gr <Action>(Vcs.RollbackChangedLines)
nmap <Leader>gC <Action>(Vcs.ShowConsoleTab)

" Go to
nmap gi <Action>(GotoImplementation)
nmap gu <Action>(ShowUsages)
nmap gt <Action>(GotoTypeDeclaration)
nmap gs <Action>(GotoSuperMethod)
nmap gT <Action>(GotoTest)
nmap gl <Action>(JumpToLastChange)
nmap gn <Action>(JumpToNextChange)
nmap ge <Action>(GotoNextError)
nmap gE <Action>(GotoPreviousError)

" Yank
nmap yr <Action>(CopyReference)
nmap yf <Action>(CopyFileName)

" Refactor
nmap <Leader>rr <Action>(RenameElement)

nmap <Leader>rv <Action>(IntroduceVariable)
vmap <Leader>rv <Action>(IntroduceVariable)

nmap <Leader>rm <Action>(ExtractMethod)
vmap <Leader>rm <Action>(ExtractMethod)

nmap <Leader>rf <Action>(Replace)
vmap <Leader>rf <Action>(Replace)

nmap <Leader>re <Action>(ReplaceInPath)
vmap <Leader>re <Action>(ReplaceInPath)

nmap <Leader>rl <Action>(Refactorings.QuickListPopupAction)

" Run
nmap <Leader>rt <Action>(RunClass)
nmap <Leader>ra <Action>(Run)
nmap <Leader>rk <Action>(Stop)
nmap <Leader>rs <Action>(ChooseRunConfiguration)
nmap <Leader>ro <Action>(ActivateRunToolWindow)

" Debug
nmap <Leader>dt <Action>(DebugClass)
nmap <Leader>da <Action>(Debug)
nmap <Leader>do <Action>(ActivateDebugToolWindow)
nmap <Leader>dp <Action>(ToggleLineBreakpoint)

" Code / Close
nmap <Leader>cg <Action>(Generate)
nmap <Leader>cf <Action>(ReformatCode)

nmap <Leader>ch <Action>(ShowIntentionActions)
vmap <Leader>ch <Action>(ShowIntentionActions)

nmap <Leader>co <Action>(OverrideMethods)
nmap <Leader>ci <Action>(ImplementMethods)
nmap <Leader>cc <Action>(CollapseAllRegions)
nmap <Leader>ce <Action>(ExpandAllRegions)

nmap <Leader>ct <Action>(CloseContent)
nmap <Leader>ca <Action>(HideAllWindows)
nmap <Leader>cn <Action>(CloseAllNotifications)

" Tree
nnoremap <Leader>to :NERDTree<CR>
nmap <Leader>tf <Action>(SelectInProjectView)

" Window
nmap <Leader>wv <Action>(SplitVertically)
nmap <Leader>ws <Action>(SplitVertically)
nmap <Leader>wh <Action>(SplitHorizontally)

" Project
nmap <Leader>po <Action>(ManageRecentProjects)
nmap <Leader>ps <Action>(OpenProjectWindows)

" New
nmap <Leader>no <Action>(NewElement)
nmap <Leader>nd <Action>(NewDir)
nmap <Leader>ns <Action>(NewScratchFile)

" Move
nmap <Leader>mf <Action>(Move)

" Shell / Surround / Show
nmap <Leader>so <Action>(ActivateTerminalToolWindow)

nmap <Leader>sw <Action>(SurroundWith)
vmap <Leader>sw <Action>(SurroundWith)

nmap <Leader>st <Action>(SurroundWithLiveTemplate)
vmap <Leader>st <Action>(SurroundWithLiveTemplate)

nmap <Leader>sp <Action>(ParameterInfo)
nmap <Leader>se <Action>(ShowErrorDescription)
nmap <Leader>sd <Action>(QuickJavaDoc)
nmap <Leader>sm <Action>(FileStructurePopup)

" IDE / IA
nmap <Leader>is <Action>(ShowSettings)
nmap <Leader>ip <Action>(WelcomeScreen.Plugins)
nmap <Leader>ir <Action>(RestartIde)
nmap <Leader>iu <Action>(CheckForUpdate)

nmap <Leader>io <Action>(ActivateGitHubCopilotChatToolWindow)
nmap <Leader>in <Action>(copilot.newChatSession)<Action>(ActivateGitHubCopilotChatToolWindow)

nmap <Leader>ic <Action>(OpenInlineChatAction)
vmap <Leader>ic <Action>(OpenInlineChatAction)

" Harpoon
nmap <Leader><A-n> <Action>(SetHarpoon1)
nmap <Leader><A-e> <Action>(SetHarpoon2)
nmap <Leader><A-i> <Action>(SetHarpoon3)
nmap <Leader><A-f> <Action>(SetHarpoon4)

nmap <A-n> <Action>(GotoHarpoon1)
nmap <A-e> <Action>(GotoHarpoon2)
nmap <A-i> <Action>(GotoHarpoon3)
nmap <A-f> <Action>(GotoHarpoon4)

nmap <A-o> <Action>(ShowHarpoon)

" Misc
nmap <Leader>md <Action>(ToggleDistractionFreeMode)
nmap <Leader>mv <Action>(IdeaVim.ReloadVimRc.reload)
nmap <Leader>mt <Action>(VimFindActionIdAction)

" nmap <Leader>gh <Action>(LocalHistory.ShowHistory)

set which-key
set notimeout
