set NERDTree

" Cursor in the middle of the screen
set scrolloff=999

" Do incremental searching
set incsearch

" Use the OS clipboard
set clipboard=unnamed,unnamedplus

" Append IntelliJ clipboard
set clipboard+=ideaput

" Enable IntelliJ smart join
set ideajoin

" Ignore case of searches
set ignorecase

" When searching try to be smart about cases
set smartcase

" Insert blank line
nnoremap <Leader>o o<Esc>
nnoremap <Leader>O O<Esc>

" Y to yank the end of the line
nnoremap Y y$

" Cancel leader key sequence with <Esc> without jumping to a new line
nnoremap <Leader><Esc> :<C-u><CR>

nmap <Leader>: <Action>(RunAnything)

nmap <Leader>ff <Action>(GotoFile)
nmap <Leader>fc <Action>(GotoClass)
nmap <Leader>fh <Action>(RecentFiles)
nmap <Leader>fs <Action>(RecentChangedFiles)

" Git
nmap <Leader>gf <Action>(Git.Fetch)
nmap <Leader>gb <Action>(Git.Branches)
nmap <Leader>gu <Action>(Vcs.UpdateProject)
nmap <Leader>ga <Action>(Annotate)
nmap <Leader>gp <Action>(Vcs.Push)
nmap <Leader>gl <Action>(Vcs.Show.Log)
nmap <Leader>gd <Action>(Compare.LastVersion)
nmap <Leader>gh <Action>(Vcs.ShowTabbedFileHistory)
nmap <Leader>go <Action>(Vcs.Show.Local.Changes)

" Go to
nmap gb <Action>(Back)
nmap gf <Action>(Forward)
nmap gi <Action>(GotoImplementation)
nmap gt <Action>(GotoTypeDeclaration)
nmap gs <Action>(GotoSuperMethod)
nmap gT <Action>(GotoTest)
nmap ge <Action>(GotoNextError)
nmap gE <Action>(GotoPreviousError)

" Yank
nmap <Leader>yr <Action>(CopyReference)
nmap <Leader>yf <Action>(CopyFileName)

" Refactor
nmap <Leader>rr <Action>(RenameElement)
nmap <Leader>rv <Action>(IntroduceVariable)
nmap <Leader>rm <Action>(ExtractFunction)
nmap <Leader>rl <Action>(Refactorings.QuickListPopupAction)
nmap <Leader>sw <Action>(SurroundWith)

" Code
nmap <Leader>cg <Action>(Generate)
nmap <Leader>ch <Action>(ShowIntentionActions)

" Tree
nmap <Leader>to <Action>(ActivateProjectToolWindow)
nnoremap <Leader>tf :NERDTreeFocus<CR>

" Run
nmap <Leader>rt <Action>(RunClass)
nmap <Leader>rr <Action>(Rerun)
nmap <Leader>rk <Action>(Stop)
nmap <Leader>rs <Action>(ChooseRunConfiguration)
nmap <Leader>ro <Action>(ActivateRunToolWindow)

" nmap <Leader>gh <Action>(LocalHistory.ShowHistory)

set which-key
set notimeout



" source ~/.intellimacs/spacemacs.vim
" source ~/.intellimacs/extra.vim
" source ~/.intellimacs/major.vim

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)